# Configuration file for Synapse.
#
# This is a YAML file: see [1] for a quick introduction. Note in particular
# that *indentation is important*: all the elements of a list or dictionary
# should have the same indentation.
#
# [1] https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html
#
# For more information on how to configure Synapse, including a complete accounting of
# each option, go to docs/usage/configuration/config_documentation.md or
# https://matrix-org.github.io/synapse/latest/usage/configuration/config_documentation.html
server_name: "localhost:8480"
pid_file: /home/kamal/synapse/demo/8080/homeserver.pid
listeners:
  - port: 8080
    tls: false
    type: http
    x_forwarded: true
    bind_addresses: ['::1', '127.0.0.1']
    resources:
      - names: [client, federation]
        compress: false
database:
  name: psycopg2 
  args:
    user: synapse_user
    password: 1234
    host: localhost
    database: synapse
    cp_min: 5
    cp_max: 10

log_config: "/home/kamal/synapse/demo/8080/localhost:8480.log.config"
media_store_path: /home/kamal/synapse/demo/8080/media_store
registration_shared_secret: "6h#KqS:Qc&__;V~Jlkaw4sQRXGAuwYwbGgE7N4xQC;ih-sl.7a"
report_stats: false
macaroon_secret_key: "#D53f~LA:6nIVB7Y4a=ggq8&:x.XsTfoOwY1-ZZm*wSWOI#6L-"
form_secret: "Jmpvdx.+z_Mc8G-IdRroF~X.EiZEB+98rfJqQ1bG0,#lRZrPiJ"
signing_key_path: "/home/kamal/synapse/demo/8080/localhost:8480.signing.key"
trusted_key_servers:
  - server_name: "matrix.org"


# vim:ft=yaml

# Customisation made by demo/start.sh

public_baseurl: http://localhost:8080/
enable_registration: true
enable_registration_without_verification: true

# Configure server to listen on both 8480 and 8080
# This overides some of the default settings above
listeners:
  - port: 8480
    type: http
    tls: true
    resources:
      - names: [client, federation]

  - port: 8080
    tls: false
    bind_addresses: ['::1', '127.0.0.1']
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false


# Disable TLS for the servers.# DO NOT USE IN PRODUCTION
use_insecure_ssl_client_just_for_testing_do_not_use: true
federation_verify_certificates: false
tls_certificate_path: "/home/kamal/synapse/demo/8080/localhost:8080.tls.crt"
tls_private_key_path: "/home/kamal/synapse/demo/8080/localhost:8080.tls.key"
trusted_key_servers: []
# Allow the servers to communicate over localhost.
ip_range_whitelist:
  - '127.0.0.1/8'
  - '::1/128'
